/*========= ナビゲーションのためのCSS ===============*/

#g-nav{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
  top:0;
    right: -120%;
  width:100%;
    height: 100vh;/*ナビの高さ*/
  background:#999;
    /*動き*/
  transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
    right: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*リストのレイアウト設定*/

#g-nav li{
  list-style: none;
    text-align: center;
}

#g-nav li a{
  color: #333;
  text-decoration: none;
  padding:10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/
.openbtn1{
  position:fixed;
    z-index: 9999;/*ボタンを最前面に*/
  top:10px;
  right: 10px;
  cursor: pointer;
    width: 50px;
    height:50px;
}
  
/*×に変化*/  
.openbtn1 span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
  background-color: #666;
    width: 45%;
  }

.openbtn1 span:nth-of-type(1) {
  top:15px; 
}

.openbtn1 span:nth-of-type(2) {
  top:23px;
}

.openbtn1 span:nth-of-type(3) {
  top:31px;
}

.openbtn1.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn1.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}
/*--------------------------------------
  カード型_02
--------------------------------------*/
.card2-Box {
  display: flex;
  width: 75%;
  height: 450px;
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
}
.l-wrapper_02 {
  margin: 1rem auto;
  width: 400px;
  height: 400px;
}
.card-radius_02{
  // overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 4px 15px rgba(0,0,0,.2);
}

.card_02 {
  background-color: #fff;
  box-shadow: 0 0 0px rgba(0, 0, 0, .16);
  color: #212121;
}

.card__header_02 {
  display: flex;
  flex-wrap: wrap;
}

.card__title_02 {
  padding: 1rem 1.5rem 0;
  font-size: 18px;
  order: 1;
  text-decoration: none;
  margin-top: -10px;
}

.card__thumbnail_02 {
  margin: 0;
  order: 0;
}

.card__image_02 {
  width: 90%;
  padding: 10px;
  padding-top: 20px;
  border-radius: 30px;
}

.card__body_02 {
  padding: 0 1.5rem;
  background: #fff;
}

.card__text_02 {
  font-size: 14px;
  text-align:center;
  text-decoration: none;
}

.card__text2_02 {
  font-size: 14px;
  margin-top: 0;
  // margin-bottom: 1.5rem;
  text-align-last: left;
}


.btn--orange,
a.btn--orange {

  // background-image: linear-gradient(90deg, rgba(161, 140, 209, 1), rgba(251, 194, 235, 1));
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #000;
  background-color:#fff;
}
a.btn--radius {
    border-radius: 100vh;
}
/* 003 */
.button003 a {
    background: linear-gradient(90deg, rgba(161, 140, 209, 1), rgba(251, 194, 235, 1));
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 650px;
    height: 50px;
    padding: 10px 25px;
    color: #fff;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 10px;
    box-shadow: 0 2px 15px rgba(0,0,0,.2);
}
.button003 a:hover {
    
}
.button003 a:after {
    content: '';
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    margin-right: 10px;
    right: 20px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}
.button003 a:hover:after {
    border-color: #FFF;
}
/* 004 */
.button004 a {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    // width: 500px;
    // height: 50px;
    // padding: 10px 25px;
    // color: #000;
    // transition: 0.3s ease-in-out;
    // font-weight: 500;
    text-decoration: none;
    // margin-bottom: 10px;
    // border-radius: 30px;
    background: #fff;/*背景を白*/
    padding: 20px;
    border-radius: 50px;
    color: #000;
}
.button04-Box {
    text-align: center;
    margin: 0 auto;
    background:  linear-gradient(to right, #A18CD1 0%, #FBC2EB 100%);
    width: 700px;
    padding: 1px;/*borderの太さ*/
    border-radius: 50px;
    box-shadow: 0 2px 15px rgba(0,0,0,.2);
    margin-bottom: 100px;
}
.button004 a:hover {

}
.button004 a:after {
    content: '';
    width: 10px;
    height: 10px;
    border-top: 2px solid #313131;
    border-right: 2px solid #313131;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    margin-right: 10px;
    top: 50%;
    right: 20px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}
.button004 a:hover:after {

}
body {

}

// ここからヘッダーです
header {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  text-align: center;

  .header-top {
    display: flex;
    justify-content: center;
    top: 0;
    text-align: center;
    margin: 0 auto;
    .header-left {
      // width: 300px;
      // margin-left: 120px;
      padding-top: 20px;
      a {
        img {
          width: 180px;
          margin-right: 80px;
        }
      }
    }
  }
}

.header-right {
  ul {
      list-style: none;
      display: flex;
      padding-top: 7px;
    a {
      text-decoration: none;
      margin-left: 40px;
      color: #000;
}
      li {

      }
    }
  }

// ここからトップです
.pc { display: block !important; }
.sp { display: none !important; }
.top {
  width: 100%;

  img {
    width: 100%;
  }
  .top-title {
    top:0;
    position: absolute;
    color: #fff;
    letter-spacing: 20px;
    font-size: 100px;
    margin-left: 10%;
    margin-top: 13%;
    line-height: 2;
    text-shadow: 1px 1px 10px #7C7C7C, -1px -1px 10px #7C7C7C;
    
  } 

  .top-subtitle {
    top:0;
    position: absolute;
    letter-spacing: 10px;
    color: #fff;
    font-size: 35px;
    margin-left: 45%;
    margin-top: 30%;
    text-shadow: -1px 1px 10px #7C7C7C, -1px -1px 10px #7C7C7C;

    .top-subtitle-span{
      font-size: 65px;
    }
  }
  .top-btn {
    position: absolute;
    top: 0;
    margin-top: 48%;
    right: 0;
    margin-right: 10%;
    img {
      width: 250px;

    }
  }
}
    .main-title {
      display: inline-block;
      background: linear-gradient(90deg, rgba(161, 140, 209, 1), rgba(251, 194, 235, 1));
      background: -webkit-linear-gradient(90deg, rgba(161, 140, 209, 1), rgba(251, 194, 235, 1));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      letter-spacing: 2px;
      font-size: 22px;
    }
        .main-subtitle {
          font-size: 28px;
          margin-top:-10px;
          margin-bottom: 30px;
        }
        .main-text {
          font-size: 16px;
          width: 50%;
          text-align: left;
          margin: 0 auto;
          margin-top: 30px;
          line-height: 2;
        }

.model-btn {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    text-decoration: none;
    background: #fff;/*背景を白*/
    padding: 20px;
    border-radius: 50px;
    background: linear-gradient(90deg,rgba(161, 140, 209, 1), rgba(251, 194, 235, 1));
	border-radius: 50px;
	padding: 1px;
	position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    text-decoration: none;
    width: 350px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;

    a {
    padding: 20px;
    border-radius: 50px;
    color: #000;
    text-decoration: none;
    }
}
.model-btn a:after {
    content: '';
    width: 10px;
    height: 10px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    right: 20px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}
.btn {
    text-align: center;
    margin: 0 auto;
    // background:  linear-gradient(to right, #A18CD1 0%, #FBC2EB 100%);
    width: 350px;
    padding: 3px;/*borderの太さ*/
    border-radius: 50px;
    height: 20px;
    background: #fff;
}

.vr-movie {

  text-align: center;
  margin: 0 auto;
  margin-top: 10px;

  .movie-Box {
    width: 45%;
    height: 150px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, .16);
    border-radius: 30px;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    p {
      font-size: 14px;
      text-align-last: left;
      padding-top: 20px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.pink-image {
  width: 55%;
  position: absolute;
  right: 0;
  margin-top: -720px;
  z-index: -10;
}

.model-house {
  text-align: center;

  p {
    letter-spacing: 1.5px;
    line-height: 1.8;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}


.photo-zone {
  width: 100%;
  justify-content: space-between;
  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    li {
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }


  }
}

.contact {
  text-align: center;

  p {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 20px;
    line-height: 2;
  }
}
.contact-text {
  background: linear-gradient(90deg, rgba(161, 140, 209, 1), rgba(251, 194, 235, 1));
  background: -webkit-linear-gradient(90deg, rgba(161, 140, 209, 1), rgba(251, 194, 235, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2px;
}

.past-projects {
  text-align: center;
  margin: 0 auto;

  p {
    font-size: 14px;
  }
}
.modelhouse-box {
  display: flex;
  justify-content: center;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.box-item {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  h1 {
    font-size: 20px;
    text-align-last: left;
    border-left: 7px solid #FBC2EB;
    padding:2px 8px; 
  }
  p {
    font-size: 16px;
    text-align-last: left;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 15px;
  }
  img {
    width: 100%;
    margin-bottom: 30px;
  }
}

.house-about {
  margin-top: 150px;
  display: flex;
  text-align: center;
  width: 100%;
  position: relative;
}
.house-rou1 {
  text-align: center;
  margin: 0 auto;
  width: 50%;

  img {
    width: 100%;
    height: 280px;
  }
  h1 {
    margin-top: -230px;
    color: #fff;
  }
  p {
    width: 60%;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align-last: left;
  }
  a {
    color: #fff;
  }
}
.house-rou2 {
  text-align: center;
  margin: 0 auto;
  width: 50%;
    img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    object-position: bottom; //こちらはcenterとかでも良いかも
  }
    h1 {
    margin-top: -230px;
    color: #fff;
  }
  p {
    width: 60%;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align-last: left;
  }
  a {
    color: #fff;
  }
}
.pink-image4 {
  position: absolute;
  width: 700px;
  right: 0;
  margin-top: -150px;
  z-index: -10;
}

.last-contact {
  display: flex;
  margin-top: 200px;

  .last-contact-left {
    text-align: center;
    padding: 50px;
  }
  p {
    width: 70%;
    margin: 0 auto;
    text-align-last: left;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.contact-btn {
    background: linear-gradient(90deg, rgba(161, 140, 209, 1), rgba(251, 194, 235, 1));
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 350px;
    height: 50px;
    padding: 10px 25px;
    color: #fff;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 10px;
    box-shadow: 0 2px 15px rgba(0,0,0,.2);
    
    a:after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    right: 20px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}
}
.footer-btn {
    width: 150px;
    position: absolute;
    right: 0;
    margin-right: 10%;
    margin-top: 50px;
}
footer {
  box-shadow: 0 -6px 5px -2px #E6E6E6;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 200px;
  margin-top: 100px;
  a {
    img {
      width: 200px;
      margin-top: 50px;
    }
  }
  ul {
    text-align: center;
    margin: 0 auto;


    li {
      list-style: none;
      float: left;
      margin: 0 auto;
      margin-left: 30px;
      display: inline;
    }
  }
}
.Copyright {
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
}
.footer-list {
  text-align: center;
  margin: 0 auto;
  width: 50%;
  margin-top: 30px;
  a {
    text-decoration: none;
    color: #000;
  }
}

.common__title {
  text-align: center;
}
.common__subtitle {
  display: block;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(90deg, rgb(161, 140, 209), rgb(251, 194, 235));
  background: -webkit-linear-gradient(90deg, rgb(161, 140, 209), rgb(251, 194, 235));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.common__maintitle {
  font-size: 30px;
  font-weight: normal;
  margin-top: 30px;
}
.fv__font--large {
  font-size: clamp(40px, 6.5vw, 60px);
  -webkit-text-stroke: 3px #fff;
  text-stroke: 2px #fff;
}
@media screen and (max-width: 1280px) {
  .fv__font--large {
    font-size: clamp(40px, 6.5vw, 50px);
  }
}
.fv__font--middle {
  font-size: clamp(30px, 6.5vw, 50px);
  -webkit-text-stroke: 2px #fff;
  text-stroke: 2px #fff;
}
@media screen and (max-width: 1280px) {
  .fv__font--middle {
    font-size: clamp(30px, 6.5vw, 40px);
  }
}

.about {
  max-width: 800px;
  margin: 100px auto;
}
.about__text {
  margin: 30px 0;
}
.about__list {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.about__item {
  width: 50%;
  padding: 15px;
  border: solid 1px;
  -o-border-image: linear-gradient(to right, rgb(161, 140, 209), rgb(251, 194, 235)) 1;
  border-image: linear-gradient(to right, rgb(161, 140, 209), rgb(251, 194, 235)) 1;
  display: flex;
  flex-direction: column;
  background: #fff;
}
.about__item h4 {
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}
.about__item p {
  margin-top: 15px;
}
.about__item:first-child img {
  width: 135px;
}
.about__img {
  text-align: center;
}
.about__img img {
  width: 150px;
  margin: 20px 0;
}
.about__amoeba {
  position: absolute;
  left: -200px;
  bottom: -100px;
  width: 500px;
  z-index: -1;
}
.common{
    &__title{
        text-align: center;
    }
}



.vr-live__video {
  max-width: 800px;
  margin: 100px auto 30px auto;
}
.vr-live__youtube {
  margin: 30px 0 100px 0;
}
.vr-live__youtube iframe {
  width: 100%;
}
.vr-live__list {
  margin: 0 20px;
  padding: 20px 35px;
  border-radius: 20px;
  box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.6);
  background: #fff;
  list-style: none;
}
.vr-live__item {
  font-size: 13px;
  line-height: 1.5;
}
.vr-live__box {
  position: relative;
  max-width: 1200px;
  margin: 0 auto 100px auto;
  display: flex;
  gap: 20px;
}
.vr-live__card {
  width: 33.3333%;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.6);
  background: #fff;
  list-style: none;
}
.vr-live__card img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.6);
}
.vr-live__card h4 {
  margin: 15px 0;
  font-size: 18px;
  font-weight: normal;
}
.vr-live__card p {
  margin: 0 5%;
}
.vr-live__amoeba {
  position: absolute;
  right: -100px;
  bottom: -50px;
  width: 800px;
  z-index: -1;
}


:root{
    --swiper-theme-color: #fff !important;
    --swiper-navigation-size: 25px !important;
}

.detail{
    position: relative;
    max-width: 1200px;
    margin: 0 auto 100px auto;

    &__amoeba{
        position: absolute;
        left: -250px;
        top: -150px;
        width: 800px;
        z-index: -1;
    }

    &__thumbnail{
        width: 35%;
        text-align: right;

        img{
            width: 85%;
        }
    }

    &__desc{
        width: 50%;
    }

    &__title{
        h4{
            font-size: 30px;
            font-weight: normal;
            margin-bottom: 20px;
        }

        p{
            width: fit-content;
            font-size: 20px;
            padding-bottom: 1px;
            margin-bottom: 20px;
            border-bottom: solid #000;
            border-image-slice: 1;
            border-image: linear-gradient(to right, rgb(161, 140, 209),rgb(251, 194, 235)) 1;
        }
    }

    &__btn{
        text-align: right;

        a{
            display: block;
            width: fit-content;
            margin: 30px 15px 0 auto;
            padding: 20px 80px;
            border-radius: 25px;
            box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.6);
        }
    }

}

.swiper{
    margin: 30px 0;

    &-slide{
        display: flex;
        align-items: center;
        gap: 50px;
    }

    &-button-prev{
        background: #000 !important;
        width: 50px !important;
        height: 50px !important;
        border-radius: 50% !important;
    }

    &-button-next{
        background: #000 !important;
        width: 50px !important;
        height: 50px !important;
        border-radius: 50% !important;
    }
}

.detail__list {
  display: flex;
  margin: 0 auto;
  display: inline-block;
  list-style: none;
  width: 200px;
  padding: 0;
  color: #fff;
  img {
    width: 230px;
  }
  p {
    color: #fff;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    margin-top: -140px;
  }


}

@media screen and (max-width: 767px) {
  .pc { display: none !important; }
  .sp { display: block !important; }
  .top {
    height: 550px;
    .top-title {
      font-size: 30px;
      letter-spacing: 10px;
      margin-top: 20%;
    }
    .top-subtitle {
      font-size: 20px;
    }
  }
  header {
    display: none;
  }
  .about__list {
    display: block;
  }
  .about__item {
    width: 80%;
    margin-top: 20px;
  }
  .main-subtitle {
    font-size: 20px;
  }
  .common__maintitle {
    font-size: 20px;
    margin: 0;
  }
  .ytp-cued-thumbnail-overlay-image {
    width: 200px;
  }
  .vr-live__youtube iframe {
    width: 90%;
    height: 250px;
    text-align: center;
    margin: 0;
    margin-top: -50px;
    margin-bottom: 30px;
  }
  .vr-live__youtube {
    text-align: center;
    padding: 0;
    margin: 0 auto;
  }
  .vr-live__box {
    display: block;
  }
  .vr-live__card {
    width: 80%;
    margin-top: 20px;
  }
  .vr-live__amoeba {
    width: 500px;
    right: 0;
  }
  .detail__amoeba {
    width: 450px;
    text-align: center;
    margin-top: 50px;
  }
  .model-house {
    p {
      width: 80%;
      letter-spacing: normal;
      font-size: 14px;
    }
  }
  .contact {
    p {
      width: 80%;
      letter-spacing: normal;
      font-size: 14px;
    }
  }
  .button003 {
    margin: 0 auto;
    a {
      width: 80%;
      text-align: center;
      margin: 0 auto;
    }
  }
  .button004 {

    a {
      width: 90%;
      text-align: center;
      margin: 0 auto;
    }
  }
  .button04-Box {
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
  }
  .detail {
    margin-top: 50px;
  }
  .past-projects {
    .main-title {
      font-size: 18px;
    }
    .main-subtitle {
      font-size: 20px;
      margin-top: -20px;
    }
    p {
      
    }
  }
  .past-projects {
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }
  .modelhouse-box {
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-top: 80px;
  }
  .box-item {
    width: 100%;

    h1 {
      margin-top: 60px;
    }
  }
  .model-btn {
    text-align: center;
    margin: 0 auto;
    width: 90%;
  }
  .house-about {
    display: block;
    margin-top: 50px;
  }
  .house-rou1 {
    margin: 0;
    width: 100%;

    img {
      width: 100%;
      margin-bottom: 120px;
    }

    h1 {
      font-size: 24px;
      margin-top: -200px;
    }
    
    p {
      font-size: 14px;
      width: 90%;
    }
    a {
      background: #000;
      margin-bottom: 120px;
    }
  }
  .house-rou2 {
    margin: 0;
    width: 100%;

    h1 {
      font-size: 24px;
    }
    p {
      font-size: 14px;
      width: 90%;
    }
  }
  .pink-image4 {
    display: none;
  }
  .last-contact {
    display: block;
    margin-top: 70px;
      
  .last-contact-left {
    padding: 0;

    p {
      width: 90%;
      font-size: 14px;
    }
  }
  }
  .contact-btn {
    width: 80%;
    margin-bottom: 20px;
  }
  .contact-image {
    width: 100%;
  }
  .footer-btn {
    width: 80px;
    margin-top: 30px;
  }
  footer {
    margin-top: 60px;
    text-align: center;
    margin: 0 auto;

    li {
      float: none;
      margin: 0;
    }
    .sp-none {
      display: none;
    }
  }
  .swiper-slide {
    display: block;
  }
  .swiper-wrapper {
    width: 100%;
    padding: 0;
  }
  .detail__thumbnail {
    margin: 0;
    width: 100%;
    img {
      width: 100%;
    }
  }
  .detail__desc {
    margin: 0 auto;
    width: 90%;
    text-align: center;
  
  .detail__title {
    text-align: left;
  }

}
}